body {
	margin:0;
	padding:0;
	background-color:#777;
}

header {
	/*position:relative;*/
	/*display:block;*/
	/*width:100%; */
	min-width: 960px;
	/*left:0;*/
	/*right:0;*/
	background-color:white;
	height:100px;
	border-bottom:1px solid #cccccc;
}

#hdrContainer {
	/*position:static;*/
	/*display:block;*/
	width:960px;
	margin:0 auto;
	height:100px;
}

h1 {
	font-size: 1.5em;
	font-weight:bold;
	color:#4aaaaf;
}

#myFamPhoto {
	width:200px;
	float:left;
	margin:0 10px 0px 0;
}

.headingClass {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.bodyClass {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.containerFormat {
	background-color:white;
	border: 1px solid #ddd;
}

#myName {
	position:relative;
	display:block;
	float:left;
	padding:30px 10px;
	background-color:#4aaaa5;
	color:white;
	
	font-size:2.5em;
}

#menu {
	position:relative;
	display:inline-block;
	float:right;
	top:50px;
	list-style-type:none;
}

#menu ul {
	display:inline;
}

#menu li {
	display:block;
	float:left;
	margin:0;
	padding:0;
}

#menu a {
	text-decoration: none;
	padding:5px;
}

#menu li:not(:last-child) {
	border-right:1px solid #777;
}

#menu a:link {
	color:#777;
}

#menu a:visited {
	
	color:#777;
}

#menu a:hover {
	color:black;
}

.clearfix::after {
	content:"";
	clear:both;
	display:block;
}

.test-class {
	position:relative;
	display:block;
	width:960px;
	margin: 0 auto 30px auto;
	min-width: 960px;
	top:20px;
}

#bodyContainer {
	position:relative;
	display:block;
	width:960px;
	margin: 0 auto 30px auto;
	min-width: 960px;
	top:20px;
	min-height: calc(100vh - 238px);
}

section {
	position:relative;
	display:block;
	float:left;
	padding:15px;
	width:620px;
	line-height:1.2em;
}

#portContainer {
	position:relative;
	display:block;
	width:620px;
}

#portContainer a:link, 
#portContainer a:visited,
#portContainer a:hover,
#portContainer a:active {
	color:#fff;
	text-decoration:none;
}

.portLinks {
	position:static;
	display:block;
	border:0.5px solid black;
	width:268px;
	height:202.11px;
	padding:20px 0px 20px 0px;
	margin-bottom:40px;
	background-position: center;
	background-size: cover;
}

.portLinks div {
	position:relative;
	display:block;
	text-align: center;
	top:150px;
	padding:20px 0;
	background-color:#4aaaaf;
}

.portLinks1 {
	float:left;
}

.portLinks2 {
	float:right;
}

#plotNo01{
	background-image: url("../images/WebDesign01.jpg");
}
#plotNo02{
	background-image: url("../images/WebDesign02.png");
}
#plotNo03{
	background-image: url("../images/WebDesign03.jpg");
}
#plotNo04{
	background-image: url("../images/WebDesign04.png");
}
#plotNo05{
	background-image: url("../images/WebDesign05.png");
}

#portContainer:last-child {
	margin-bottom: 0;
	padding-bottom:0;
}

aside {
	position:relative;
	display:block;
	float:right;
	margin-left:10px;
	padding:15px;
	width:240px;
}

aside div {
	/* padding:0 25px; */
	position:static;
	display:block;
	width:85%;
	margin:0 auto;
}

aside img {
	margin:0 auto;
	width:65px;
}

aside ul {
	margin:0 auto;
	display:block;
}

aside li {
	margin:0 auto;
	display:inline-block;
}

form input.inpField, textarea{
	display:block;
	width:100%;
}

#submitBtn {
	background-color:#4aaaaf;
	color:#fff;
	padding:5px 15px;
	border:none;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	cursor:pointer;
	font-size:1.1em;
}


footer {
	/*position:relative;*/
	/*bottom:0;*/
	/* width:100%; */
	/*left:0;*/
	/*right:0;*/
	min-width: 960px;
	background-color:#666;
	border-top:5px solid #4aaaaf;
	height:100px;
	text-align: center;
	color:#fff;
	line-height: 100px;
}

@media screen and (max-width:980px) {
	header {
		min-width:768px;
	}

	#hdrContainer {
		width:95%;
		min-width:768px;
	}

	#myFamPhoto {
		float:none;
		width:100%;
	}
	
	#bodyContainer {
		width:95%;
		height:auto;
		min-width:768px;
	}

	section {
		width:60%;
		height:auto;
	}

	aside {
		float:left;
		width:30%
	}

	footer{
		min-width:768px;
	}
	
	#portContainer {
		position:relative;
		display:block;
		width:auto;
		height:auto;
	}

	#portContainer a:link, 
	#portContainer a:visited,
	#portContainer a:hover,
	#portContainer a:active {
		color:#fff;
		text-decoration:none;
	}
	
	.portLinks {
		position:relative;
		display:block;
		border:0.5px solid black;
		width: calc(268px * (100vw / 268px));
		height: calc(202.11px * (100vh / 202.11px));
		padding:20px 0px 20px 0px;
		margin-bottom:40px;
		background-position: center;
		background-size: cover;
	}

	.portLinks div {
		/* position:relative;
		display:block; */
		text-align: center;
		top:150px;
		padding:20px 0;
		background-color:#4aaaaf;
		float:none;
	}

	.portLinks1, .portlinks2 {
		float:none;
		position:relative;
	}

}

@media screen and (max-width:768px) {
	header {
		min-width:640px;
	}
	
	#hdrContainer {
		min-width:640px;
	}

	#bodyContainer {
		min-width:640px;
	}

	section {
		min-width:640px;
		float:none;
		width:90%;
	}
	
	#myFamPhoto {
		float:left;
		width:200px;
	}

	aside {
		min-width:640px;
		float:none;
		width: 90%;
		margin:0;
	}

	footer{
		min-width:640px;
	}
}

@media screen and (max-width:640px) {
	body {
		width:100vw;
	}

	header {
		position:relative;
		display:block;
		/* min-width:0; */
		/* background-color:transparent; */
		height:auto;
		border:none;
		width:100vw;
		margin:0;
	}

	#hdrContainer {
		position:relative;
		display:block;
		width:100vw;
		height:auto;
		margin:0;
	}

	#myName {
		width:100vw;
		margin:0;
	}

	nav#menu {
		padding:10px;
		background-color:white;
		width:100vw;
		top:0;
	}

	nav#menu li {
		float:none;
		display:inline;
	}

	#myName, nav#menu {
		position:relative;
		display:block;
		float:none;
		text-align: center;
		margin:0;
	}

	#bodyContainer {
		position:relative;
		display:block;
		width:90vw;
		margin: 0 auto;
		max-width:640px;
		min-height: calc(100vh);
	}

	section, aside {
		display:block;
		width:90vw;
		float:none;
		max-width:640px;
		/* min-width:200px; */
	}

	footer {
		margin-top:50px;
		position:relative;
		display:block;
		width:100vw;
		/* min-width:200px; */
	}

	/* #menu ul {
		text-align:center;
		padding:20px;
	} */


}